<!-- Reusable product carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let ind of indicators; let idx = index" type="button"
      data-bs-target="#carouselExampleAutoplaying" [attr.data-bs-slide-to]="idx"
      [class.active]="idx === 0" [attr.aria-current]="idx === 0 ? 'true' : null"
      [attr.aria-label]="'Slide ' + (idx + 1)">
    </button>
  </div>
  <div class="carousel-inner" (mouseover)="slideFade = true">
    <div class="carousel-item active" data-bs-interval="1000">
      <div id="carousel-c" class="card ms-2 me-4">
        <div class="card-body d-block w-100">
          <img src="/assets/t-shirt.png" class="carousel-img" alt="Stylish Black T-shirt">
          <div class="carousel-caption d-none d-md-block">
            <h5>Stylish Black T-shirt</h5>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let products of items; trackBy: trackByProductId">
      <div class="carousel-item" data-bs-interval="2000">
        <div id="carousel-c" class="card ms-2 me-4" (click)="navigateToDetail(products)">
          <div class="card-body d-block w-100">
            <img [src]="products.image" class="carousel-img" [alt]="products.title">
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>{{products.title}}</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
