.card {
    max-width: 400px;
}

.card:hover {
    box-shadow: 2px 5px 5px gray;
}

a {
    text-decoration: none;
}

#heart {
    font-size: 100px;
    margin: 0;
}

#msg {
    margin: 0 0 0 16px;
    font-size: 30px;
}

/* IOS Devices */
@media only screen and (min-width:320px) and (max-width:350px) {
    .card {
        max-width: 300px;
    }

    #heart {
        font-size: 100px;
        margin: 0;
    }

    #msg {
        margin: 0 0 0 12px;
        font-size: 22px;
    }
}

/*  Android Devices */
@media only screen and (min-width:350px) and (max-width:480px) {
    .card {
        max-width: 400px;
    }

    #heart {
        font-size: 100px;
        margin: 0;
    }

    #msg {
        margin: 0 0 0 12px;
        font-size: 22px;
    }
}

@media only screen and (min-width:760px) and (max-width:900px) {
    #heart {
        font-size: 100px;
        margin: 0;
    }

    #msg {
        margin: 0 0 0 12px;
        font-size: 30px;
    }
}

/* Always show wishlist heart button in the favorites list */
.products .quick-actions { opacity: 1 !important; }
.products .quick-actions .quick-btn:first-child { display: none; }