<nav class="navbar" id="filters">
    <div class="border-2 border-secondary">
        <div class="nav border p-3 shadow-sm">
            <h1 class="text-center">Filters</h1>
            <ul class="list-unstyled text-center">
                <li class="list">
                    <a [routerLink]="ROUTES.SORTING_PRODUCTS" [queryParams]="{sort:'desc'}">REVERSE ORDER</a>
                </li>
                <li class="list">
                    <a [routerLink]="ROUTES.LIMITED">LIMIT PRODUCTS</a>
                </li>
                <li class="list"><a [routerLink]="ROUTES.ADD_PRODUCT">Add a Product</a></li>
                <li class="list"><a [routerLink]="ROUTES.PRODUCTS">ALL</a></li>
                <li class="list"><a [routerLink]="ROUTES.ELECTRONICS">ELECTRONICS</a></li>
                <li class="list"><a [routerLink]="ROUTES.JEWELERY">JEWELERY</a></li>
                <li class="list"><a [routerLink]="ROUTES.MENS">MEN'S CLOTHING</a></li>
                <li class="list"><a [routerLink]="ROUTES.WOMENS">WOMEN'S CLOTHING</a></li>
            </ul>
        </div>
    </div>
</nav>