#register{
    height: 650px;
}
.is-valid{
    border-bottom: green;
}
.is-invalid{
    border-color: red;
}

li{
    list-style: none;
}

#isSubmitted{
    cursor: wait;
}
#submit{
    cursor:not-allowed;
}
#note{
    width: 400px;
}
#users{
    width: 400px;
}



/* IOS Devices */
@media only screen and (min-width:320px) and (max-width:350px) {
    .row{
        display: grid;
    }

    #login{
        width: 280px;
    }

    #note{
        width: 290px;
        text-align: justify;
        padding: 5px;
    }
    #users{
        width: 290px;
    }
    #register{
        height: 930px;
    }
}

/* Android Devices */
@media only screen and (min-width:350px) and (max-width:400px) {
    .row{
        display: grid;
    }

    #login{
        width: 320px;
    }

    #note{
        width: 320px;
        text-align: justify;
        padding: 5px;
    }
    #users{
        width: 320px;
    }
    #register{
        height: 930px;
    }
}

/* Android Devices */
@media only screen and (min-width:401px) and (max-width:600px) {
    .row{
        display: grid;
    }

    #login{
        width: 370px;
    }

    #note{
        width: 370px;
        text-align: justify;
        padding: 5px;
    }
    #users{
        width: 370px;
    }
    #register{
        height: 930px;
    }
}
/* Android Devices */
@media only screen and (min-width:601px) and (max-width:767px) {
    .row{
        display: grid;
    }

    #login{
        width: 370px;
    }

    #note{
        width: 370px;
        text-align: justify;
        padding: 5px;
    }
    #users{
        width: 370px;
    }
    #register{
        height: 930px;
    }
}
/* Tablets */
@media only screen and (min-width:768px) and (max-width:900px) {
    .row{
        display: grid;
    }

    #login{
        width: 400px;
    }

    #note{
        margin-top: 10px;
        width: 400px;
        text-align: justify;
        /* padding: 5px; */
    }
    #users{
        width: 400px;
    }
    #register{
        height: 930px;
    }
}

/* Tablets */
@media only screen and (min-width:901px) and (max-width:1099px) {
    .row{
        display: grid;
    }

    #login{
        width: 500px;
    }

    #note{
        margin-top: 10px;
        width: 500px;
        text-align: justify;
        /* padding: 5px; */
    }
    #users{
        width: 400px;
    }
    .col-6{
        margin-left: 10px;
    }
    #register{
        height: 930px;
    }
}

@media only screen and (min-width:1100px) and (max-width:1150px) 
{
    #note{
        width: 300px;
    }
    #users{
        width: 300px;
    }
}

/* Desktop mode */
@media only screen and (min-width:1151px) and (max-width:1200px) 
{
    #note{
        width: 300px;
    }
    #users{
        width: 300px;
    }
}

/* Macbook */
@media only screen and (min-width:1201px) and (max-width:1300px) 
{
    #note{
        width: 350px;
    }
    #users{
        width: 350px;
    }
}